{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Classifications</h1>
        <div class="text-center pb-5">
            <span id="sh_label">Click Here</span> to show / hide all classfication labels
        </div>
        <ul class="list-group list-group-horizontal text-center">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                {% else %}
                    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    <!-- </div> -->
    <!-- </div> -->

{% endblock %}
